body {
  background: url(../img/regBg.jpg) no-repeat;
  background-size: cover;

  form {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 100px;
    padding: 20px;
    i {
      padding-right: 5px;
    }
    .form_tell {
      .form-control {
        padding: 5px;
      }
      label {
        width: 100%;
      }
      input {
        width: calc(100% - 100px);
      }
      select {
        width: 99px;
      }

    }
  }
}

